<div>

</div>
<div id="content">
	Select Company:
	<select id='company_name' >
		<option value=""></option>
		<% @company.each do |x|%>
		<option value="<%= x.id %>"><%= x.company_name %></option>
		<% end %>
	</select>
	Select Turbine: <select id = 'turbines_dropdown'></select>
	<br />
	<br />
	<div>
		<div id="map" style="width: 600px; height: 400px"></div>
		<div id="turbine_form"></div>
	</div>
	<div class="demo-container">
		<div>
			<i>Power Output(KW)</i>
		</div>
		<div id="placeholder" class="demo-placeholder"></div>
		<div class=right>
			<i>Wind Speed(m/s)</i>
		</div>
	</div>
	<div id="turbine_details">

	</div>

	<!--
	<div class="demo-container">
	<div id="placeholder_empirical" class="demo-placeholder"></div>
	</div>
	-->

	<div id="capacity">
		<br/>
	</div>
</div>